# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
target/
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/
*.iml
*.ipr
*.iws
deploy.sh
companion-container/publish-companion.sh
conf/application.conf
